{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1>Change my Password</h1>
<p>please enter your old password, and then enter your new password twice so we can verify that you typed it correctly.</p>
{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success" type="submit">Change my Password</button>
</form>
{% endblock content %}
</body>
</html>